{% extends "portal_base.html" %}
{% block title %}{{ _("Remove this account") }}{% endblock %}
{% block heading %}{{ _("Remove this account?") }}{% endblock %}
{% block body %}
<p><strong>{{ account.name }}</strong> ({{ account.protocol }}, <code>{{ account.host }}</code>)</p>
<p>{{ _("The stored login is deleted. Your mail stays where it is, at your provider.") }}</p>
<ul>
  <li>{% trans count=clients %}{{ count }} connected application that can use this account will be disconnected.{% pluralize %}{{ count }} connected applications that can use this account will be disconnected.{% endtrans %}</li>
  <li>{% trans count=identities %}{{ count }} sender identity that sends through this account will be removed.{% pluralize %}{{ count }} sender identities that send through this account will be removed.{% endtrans %}</li>
</ul>
<form method="post" action="/portal/accounts/{{ account.id }}/remove">
  {{ m.csrf() }}
  <div class="buttons">
    <button type="submit" class="danger">{{ _("Remove the account") }}</button>
    <a class="button" href="/portal/accounts/{{ account.id }}">{{ _("Cancel") }}</a>
  </div>
</form>
{% endblock %}
