{% extends "portal_base.html" %}
{% block title %}{{ _("Change the stored password") }}{% endblock %}
{% block heading %}{{ _("Change the stored password") }}{% endblock %}
{% block body %}
<p>{{ _("Use this when you changed the password of this mailbox at your provider. The new password is checked before it is saved.") }}</p>
<p><strong>{{ account.name }}</strong></p>
{{ m.error_box(error) }}
<form method="post" action="/portal/accounts/{{ account.id }}/password" autocomplete="off">
  {{ m.csrf() }}
  <label for="password">{{ _("New password") }}</label>
  <input id="password" name="password" type="password" required autofocus maxlength="1024" autocomplete="new-password">
  <div class="buttons">
    <button type="submit" class="primary">{{ _("Check and save") }}</button>
    <a class="button" href="/portal/accounts/{{ account.id }}">{{ _("Cancel") }}</a>
  </div>
</form>
{% endblock %}
